/*.component.enable .btn.on, .component:not(.enable) .btn.off {


}

.component:not(.enable) .btn.on, .component.enable .btn.off {


}
*/
.component{
    background: #ffc5c5;
}
.component.enable{
    background: #baffc0;
}
.offline .component{
    background: #dddddd;
}